In [2]:
# APi Config

In [4]:
# Database Connection with Docker

In [5]:
DB_CONFIG = {
    "dbname" : "football_betting",
    "user": "ayoabass",
    "password": "tamzynana",
    "host": "localhost",
    "port": "5433"
}

In [6]:
#Test Connection to PostgreSQL

In [7]:
def test_db_connection():
    try:
        conn = psycopg2.connect(**DB_CONFIG)
        print("Successfully connected to PostgreSQL inside Docker!")
        conn.close()
    except Exception as e:
        print(f"Connection failed: {e}")

test_db_connection()

Successfully connected to PostgreSQL inside Docker!

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('~/Documents/Projects/football_stats_project/cleaned_fixtures.csv')

In [3]:
df.head()

,fixture_id,league_id,season,date,status,home_team_id,home_team_name,away_team_id,away_team_name,home_team_halftime_goal,away_team_halftime_goal,home_team_fulltime_goal,away_team_fulltime_goal,country,league,home_fulltime_result,away_fulltime_result,home_halftime_result,away_halftime_result
0,1208021,39,2024,2024-08-16 19:00:00+00:00,FT,33,Manchester United,36,Fulham,0.0,0.0,1.0,0.0,england,premier-league,win,loss,draw,draw
1,1208022,39,2024,2024-08-17 11:30:00+00:00,FT,57,Ipswich,40,Liverpool,0.0,0.0,0.0,2.0,england,premier-league,loss,win,draw,draw
2,1208025,39,2024,2024-08-17 14:00:00+00:00,FT,34,Newcastle,41,Southampton,1.0,0.0,1.0,0.0,england,premier-league,win,loss,win,loss
3,1208023,39,2024,2024-08-17 14:00:00+00:00,FT,42,Arsenal,39,Wolves,1.0,0.0,2.0,0.0,england,premier-league,win,loss,win,loss
4,1208024,39,2024,2024-08-17 14:00:00+00:00,FT,45,Everton,51,Brighton,0.0,1.0,0.0,3.0,england,premier-league,loss,win,loss,win

In [7]:
pd.api.types.is_datetime64_any_dtype(df['date'])

False