In [47]:
# APi Config

In [48]:
# Database Connection with Docker

In [49]:
import pandas as pd
import os

In [50]:
df = pd.read_csv('~/Documents/Projects/football_stats_project/data/cleaned_fixtures.csv')
df2 = pd.read_json('~/Documents/Projects/football_stats_project/data/fixtures/fixture_updates.json')

In [51]:
df.head()

,api_fixture_id,api_league_id,season,kickoff_utc,fixture_status,home_team_id,home_team_name,away_team_id,away_team_name,home_team_halftime_goal,away_team_halftime_goal,home_team_fulltime_goal,away_team_fulltime_goal,home_fulltime_result,away_fulltime_result,home_halftime_result,away_halftime_result
0,831246,113,2022,2022-04-02T13:00:00+00:00,FT,363,Hammarby FF,811,Helsingborg,1.0,0.0,2.0,1.0,win,loss,win,loss
1,831244,113,2022,2022-04-02T15:30:00+00:00,FT,367,BK Hacken,377,AIK Stockholm,2.0,1.0,4.0,2.0,win,loss,win,loss
2,831248,113,2022,2022-04-03T13:00:00+00:00,FT,366,IFK Goteborg,2163,IFK Varnamo,1.0,0.0,2.0,1.0,win,loss,win,loss
3,831250,113,2022,2022-04-03T13:00:00+00:00,FT,370,Sirius,373,GIF Sundsvall,0.0,1.0,2.0,1.0,win,loss,loss,win
4,831251,113,2022,2022-04-03T15:30:00+00:00,FT,374,Kalmar FF,375,Malmo FF,0.0,0.0,0.0,1.0,loss,win,draw,draw

In [52]:
df2.he

AttributeError: 'DataFrame' object has no attribute 'he'

In [ ]:
df3 = df2.merge(df, on=['api_fixture_id', 'home_team_name', 'away_team_name', 'fixture_status'], how='inner')

In [37]:
len(df3)

0

In [38]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   api_fixture_id             0 non-null      int64
 1   api_league_id_x            0 non-null      int64
 2   season_x                   0 non-null      int64
 3   kickoff_utc_x              0 non-null      object
 4   fixture_status             0 non-null      object
 5   home_team_id_x             0 non-null      int64
 6   home_team_name             0 non-null      object
 7   away_team_id_x             0 non-null      int64
 8   away_team_name             0 non-null      object
 9   home_team_halftime_goal_x  0 non-null      int64
 10  away_team_halftime_goal_x  0 non-null      int64
 11  home_team_fulltime_goal_x  0 non-null      int64
 12  away_team_fulltime_goal_x  0 non-null      int64
 13  api_league_id_y            0 non-null      int64
 14  season_y                   0 non-null      int64
 15  kickoff_utc_y              0 non-null      object
 16  home_team_id_y             0 non-null      int64
 17  away_team_id_y             0 non-null      int64
 18  home_team_halftime_goal_y  0 non-null      float64
 19  away_team_halftime_goal_y  0 non-null      float64
 20  home_team_fulltime_goal_y  0 non-null      float64
 21  away_team_fulltime_goal_y  0 non-null      float64
 22  home_fulltime_result       0 non-null      object
 23  away_fulltime_result       0 non-null      object
 24  home_halftime_result       0 non-null      object
 25  away_halftime_result       0 non-null      object
dtypes: float64(4), int64(13), object(9)
memory usage: 124.0+ bytes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32752 entries, 0 to 32751
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   api_fixture_id           32752 non-null  int64
 1   api_league_id            32752 non-null  int64
 2   season                   32752 non-null  int64
 3   kickoff_utc              32752 non-null  object
 4   fixture_status           32752 non-null  object
 5   home_team_id             32752 non-null  int64
 6   home_team_name           32752 non-null  object
 7   away_team_id             32752 non-null  int64
 8   away_team_name           32752 non-null  object
 9   home_team_halftime_goal  28349 non-null  float64
 10  away_team_halftime_goal  28349 non-null  float64
 11  home_team_fulltime_goal  28004 non-null  float64
 12  away_team_fulltime_goal  28004 non-null  float64
 13  home_fulltime_result     28004 non-null  object
 14  away_fulltime_result     28004 non-null  object
 15  home_halftime_result     28349 non-null  object
 16  away_halftime_result     28349 non-null  object
dtypes: float64(4), int64(5), object(8)
memory usage: 4.2+ MB

In [31]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   api_fixture_id           111 non-null    int64
 1   api_league_id            111 non-null    int64
 2   season                   111 non-null    int64
 3   kickoff_utc              111 non-null    object
 4   fixture_status           111 non-null    object
 5   home_team_id             111 non-null    int64
 6   home_team_name           111 non-null    object
 7   away_team_id             111 non-null    int64
 8   away_team_name           111 non-null    object
 9   home_team_halftime_goal  111 non-null    int64
 10  away_team_halftime_goal  111 non-null    int64
 11  home_team_fulltime_goal  111 non-null    int64
 12  away_team_fulltime_goal  111 non-null    int64
dtypes: int64(9), object(4)
memory usage: 11.4+ KB

In [34]:
df2.loc[df2['fixture_status']!= "FT"]

Empty DataFrame
Columns: [api_fixture_id, api_league_id, season, kickoff_utc, fixture_status, home_team_id, home_team_name, away_team_id, away_team_name, home_team_halftime_goal, away_team_halftime_goal, home_team_fulltime_goal, away_team_fulltime_goal]
Index: []

In [21]:
from_date

Timestamp('2025-03-16 16:15:00+0000', tz='UTC')

In [28]:
to_date

Timestamp('2025-04-14 19:00:00+0000', tz='UTC')

In [6]:
to_date = df['date'].max()
to_date

Timestamp('2025-05-25 15:00:00+0000', tz='UTC')

In [54]:
home_name =df2['home_team_name'].unique()
print(len(home_name))

37

In [56]:
home_names = df2['home_team_name']
print(len(home_names))

111

In [57]:
fixtures = df2['api_fixture_id'].unique()
print(len(fixtures))

37

In [59]:
vc = df2['api_fixture_id'].value_counts()
print(vc.head(10))

api_fixture_id
1388614    3
1382668    3
1382670    3
1382671    3
1382434    3
1382435    3
1382436    3
1382437    3
1382438    3
1382439    3
Name: count, dtype: int64

In [30]:
len(not_played)

148

In [34]:
league_ids = not_played['league_id'].unique()
league_ids

array([ 39,  61, 140,  78,  94, 135])

In [36]:
not_played['season'].unique()

array([2024])

In [37]:
df.loc[df['fixture_id'] == 1208271]

,fixture_id,league_id,season,date,status,home_team_id,home_team_name,away_team_id,away_team_name,home_team_halftime_goal,away_team_halftime_goal,home_team_fulltime_goal,away_team_fulltime_goal,country,league,home_fulltime_result,away_fulltime_result,home_halftime_result,away_halftime_result
249,1208271,39,2024,2025-02-16 16:30:00+00:00,FT,47,Tottenham,33,Manchester United,1.0,0.0,1.0,0.0,england,premier-league,win,loss,win,loss

cell has properties  initial_state(0,0) nextstate (-1,0) (1,0) (0,-1) (0, 1) (-1, -1) (1,1) (1,-1) (-1,1)

for each cell where next move is not outside boundary
check boundary 
boundary is when current_state + (one of cell  nextstate_property) is not possible produces a current state of negative in the m rows and n columns

curr_state = initial state (0,0)

apply move state to current _state which tryies to move to the first possible nextstate property
that does not violate boundary and is not in path

input => current state,
the test recursion
While lenght of path < m*n
+===============
applying test of states recursively DFS:input => current state and Listof next_states path, output => next state and update path

    check if current state  violates boundary
    False => does not violate boundary
    check if current_state is not in path 
    (0,0) not found in path =>[]
    enqueue current_state to path =>[(0,0)]
current_state(0,0) +  first_nextstate (-1, 0) => (-1, 0) 
check if next_curr_state (-1,0) is possible ? => test of states
  check if it violates boundary
  True => it violates boundary
  check if it is not in path 
False => it is not possible
KEEP cur_state Then try next first_nextstate  (1,0)
(0,0) + (1,0) => (1,0)
check if next_curr_state (-1,0) is possible ?
  check if it violates boundary
  False => does not violate boundary
  check if it is not in path 
  (1,0) not found in path =>[(0,0)]
  currstate = [1,0]
  enqueue curr_state to path => [(0,0), (1,0)]


True Then update current state and recurse
Then 

(0,0) +

if not using path_taken for extra computing you can make it a (0,0) that is a boundary

In [8]:

df.columns

Index(['fixture_id', 'league_id', 'season', 'date', 'status', 'home_team_id',
       'home_team_name', 'away_team_id', 'away_team_name',
       'home_team_halftime_goal', 'away_team_halftime_goal',
       'home_team_fulltime_goal', 'away_team_fulltime_goal', 'country',
       'league', 'home_fulltime_result', 'away_fulltime_result',
       'home_halftime_result', 'away_halftime_result'],
      dtype='object')

In [5]:
bundesliga = df['league'] == 'bundesliga'

In [7]:
df[bundesliga]

,fixture_id,league_id,season,date,status,home_team_id,home_team_name,away_team_id,away_team_name,home_team_halftime_goal,away_team_halftime_goal,home_team_fulltime_goal,away_team_fulltime_goal,country,league,home_fulltime_result,away_fulltime_result,home_halftime_result,away_halftime_result
1068,1223975,78,2024,2024-08-23 18:30:00+00:00,FT,163,Borussia Mönchengladbach,168,Bayer Leverkusen,0.0,2.0,2.0,3.0,germany,bundesliga,loss,win,loss,win
1069,1223979,78,2024,2024-08-24 13:30:00+00:00,FT,160,SC Freiburg,172,VfB Stuttgart,1.0,1.0,3.0,1.0,germany,bundesliga,win,loss,draw,draw
1070,1223982,78,2024,2024-08-24 13:30:00+00:00,FT,164,FSV Mainz 05,182,Union Berlin,0.0,0.0,1.0,1.0,germany,bundesliga,draw,draw,draw,draw
1071,1223978,78,2024,2024-08-24 13:30:00+00:00,FT,167,1899 Hoffenheim,191,Holstein Kiel,2.0,0.0,3.0,2.0,germany,bundesliga,win,loss,win,loss
1072,1223980,78,2024,2024-08-24 13:30:00+00:00,FT,170,FC Augsburg,162,Werder Bremen,2.0,1.0,2.0,2.0,germany,bundesliga,draw,draw,win,loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1371,1224272,78,2024,2025-05-17 13:30:00+00:00,FT,173,RB Leipzig,172,VfB Stuttgart,2.0,1.0,2.0,3.0,germany,bundesliga,loss,win,win,loss
1372,1224275,78,2024,2025-05-17 13:30:00+00:00,FT,180,1. FC Heidenheim,162,Werder Bremen,0.0,2.0,1.0,4.0,germany,bundesliga,loss,win,loss,win
1373,1224280,78,2024,2025-05-17 13:30:00+00:00,FT,186,FC St. Pauli,176,VfL Bochum,0.0,1.0,0.0,2.0,germany,bundesliga,loss,win,loss,win
1374,1375862,78,2024,2025-05-22 18:30:00+00:00,FT,180,1. FC Heidenheim,1660,SV Elversberg,0.0,2.0,2.0,2.0,germany,bundesliga,draw,draw,loss,win
1375,1375863,78,2024,2025-05-26 18:30:00+00:00,FT,1660,SV Elversberg,180,1. FC Heidenheim,1.0,1.0,1.0,2.0,germany,bundesliga,loss,win,draw,draw

In [7]:
import pandas as pd
df = pd.read_csv('~/Documents/Projects/football_stats_project/data/fixtures_update/cleaned_fixtures_update_20250922_153551.csv')

In [21]:
df[df["away_team_id"]== ]

Empty DataFrame
Columns: [api_fixture_id, api_league_id, season, kickoff_utc, fixture_status, home_team_id, home_team_name, away_team_id, away_team_name, home_team_halftime_goal, away_team_halftime_goal, home_team_fulltime_goal, away_team_fulltime_goal, home_fulltime_result, away_fulltime_result, home_halftime_result, away_halftime_result]
Index: []

In [10]:
df.head()

,api_fixture_id,api_league_id,season,kickoff_utc,fixture_status,home_team_id,home_team_name,away_team_id,away_team_name,home_team_halftime_goal,away_team_halftime_goal,home_team_fulltime_goal,away_team_fulltime_goal,home_fulltime_result,away_fulltime_result,home_halftime_result,away_halftime_result
0,1391306,141,2025,2025-09-21T12:00:00+00:00,FT,10139,AD Ceuta FC,732,Zaragoza,0,0,1,0,win,loss,draw,draw
1,1391309,141,2025,2025-09-21T14:15:00+00:00,FT,722,Albacete,720,Valladolid,0,0,2,0,win,loss,draw,draw
2,1391308,141,2025,2025-09-21T16:30:00+00:00,FT,535,Malaga,724,Cadiz,0,1,0,1,loss,win,loss,win
3,1391310,141,2025,2025-09-21T16:30:00+00:00,FT,545,Eibar,9585,Real Sociedad II,1,0,2,1,win,loss,win,loss
4,1391303,141,2025,2025-09-21T19:00:00+00:00,FT,713,Cordoba,4665,Racing Santander,0,0,2,2,draw,draw,draw,draw